{% extends 'base.html' %}

{% block title %}Wether{% endblock %}
{% block content %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-5 offset-1">
        <h3>Погода у вашому місті</h3>
        <form action="" method="post">
            {% csrf_token %}
            <label for="city">Місто</label>
            {{ form.name }}
            <input type="submit" name="send" value="Додати" class="mt-2 btn btn-success">
        </form>
        </div>
        <div class="col-4 offset-1"></div>
        
            <h3>Інформація</h3>
            {% for info in all_info %}
            
            <b>Город:</b> {{info.city}}<br>
            <b>Температура: </b>{{info.temp}}<sup>o</sup><br>
            <img scr="https://openweathermap.org/img/w/{{info.icon}}.png" alt="Фото погоды">
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
